/*
 * Navigation bar
 */

.navbar-ee {
  background-color: #fff;
  border-bottom: 1px solid #4f748e;
  box-shadow: 0px 1px 1px #4f748e;
  margin-bottom: 0px; /* Overwrite .navbar 20px */
}
.navbar-ee li > a.active {
  color: #4f748e;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .navbar-ee li > a.active {
    color: #4f748e;
    text-decoration: none;
    border-bottom: 2px solid;
    border-bottom-color: #4f748e;
  }
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.dropdown-divider {
  height: 1px;
  margin: 0.5rem 0;
  overflow: hidden;
  background-color: #eceeef;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 5px 3rem;
  clear: both;
  font-weight: normal;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #1d1e1f;
  text-decoration: none;
  background-color: #f7f7f9;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #4f748e;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #636c72;
  cursor: not-allowed;
  background-color: transparent;
}


/*
 * Most of pages contain 2 divs to allow vertical align
 */

.content-parent {
  margin-top: 50px; /* 50px = .navbar min-height */
  display: table;
  width: 100%;
  height: calc(100% - 50px); /* 50px = .navbar min-height */
  padding: 20px;
}
.content-child-middle {
  display: table-cell;
  vertical-align: middle;
}
.content-child-top {
  display: table-cell;
  vertical-align: top;
}


/*
 * Disposable mails page
 */

.dmcontent {
  display: inline-block;
  width: 100%;
  margin-top: 70px; /* 50px (.navbar min-height) + 20px (.panel margin-bottom) */
  text-align: initial;
}
.dmtable {
  width: 100% !important; /* Prevent overriding table width by datatables.net JS code */
}
.dmtable > thead {
  background-color: #f5f5f5;
}
.dmtable > thead > tr > td {
  border-right: 1px solid #ddd;
}
.dmtable > tbody > tr > td {
  vertical-align: middle;
}


/*
 * Font Awesome logos on messages and home page
 */

.fa-ee-message {
  font-size: 5em;
  color: #4f748e;
}


/*
 * Authentication forms
 */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin label {
  font-weight: normal;
}


/*
 * Carousel
 */

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/*
 * Marketing content
 */

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/*
 * Featurettes
 */

.featurette-divider {
  margin: 80px 0;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/*
 * Buttons
 */

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
.btn-viewdetails {
  color: #5a5a5a;
  background-color: transparent;
  border-color: #4f748e;
  margin-bottom: 5px;
}
.btn-viewdetails:focus,
.btn-viewdetails.focus {
  color: #fff;
  background-color: #4f748e;
  border-color: #122b40;
}
.btn-viewdetails:hover {
  color: #fff;
  background-color: #4f748e;
  border-color: #204d74;
}
.btn-viewdetails:active,
.btn-viewdetails.active,
.open > .dropdown-toggle.btn-viewdetails {
  color: #fff;
  background-color: #4f748e;
  border-color: #204d74;
}

/*
 * Globals
 */

html,
body {
  height: 100%;
  background-color: #f5f3f4;
}
body {
  text-align: center;
}
a {
  color: #5a5a5a;
}
a:focus,
a:hover {
  color: #23527c;
}
